<div class="col-xs-12 col-sm-6 col-md-4">
	<div class="card">
		<a class="img-card" href="">
			<img src="{{this.img}}" />
		</a>
		<div class="card-content">
			<h4 class="card-title">
				<a href="#">
					{{{this.name}}}
				</a>
			</h4>
			<div>
				<p>
					See item: {{this.url}}
				</p>
			</div>
		</div>
	</div>
</div>