<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="handle">
          Welcome {{this.uname}}!
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/logout">Logout <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Main Container -->
  <div class="jumbotron-video">
    <video loop="loop" autoplay="autoplay" muted="" poster="">
      <source src="/imgs/phone_user_video.mp4" type="video/mp4">
      <source src="" type="video/webm">
    </video>
  </div>
  <div class="jumbotron">
    <h1 class="display-3">WishWidget</h1>
    {{!-- <p class="lead">What are you wishing for today?</p> --}}
    <form class="form-inline mt-2 mt-md-0" id="etsy-search">
      <input id="etsy-terms" class="form-control mr-sm-2" type="text" placeholder="What are you wishing for today?"
        aria-label="What are you wishing for today?"><br>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <div class="content">
    <div class="container">
      <div id="etsy-images" class="row"></div>
    </div>
  </div>
</div>

<footer class="footer">
  <p>&copy; WishWidget team 2018</p>
  <a class="footer-link" href="https://github.com/chandana-k/Project_2_team_4">Github</a>
</footer>

{{!-- Scripts needed for the authenticated user --}}
<script src="js/logout.js"></script>
<script src="js/authenticated.js"></script>