<div class="container">
  <div class="header clearfix">
    <nav>
      <!-- Nav to trigger modals -->
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link active" href="#" data-toggle="modal" data-target="#login-modal">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#signup-modal">Sign up</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Main Container -->
  <div class="jumbotron">
    <h1 class="display-3">WishWidget</h1>
    {{!-- <p class="lead">What are you wishing for today?</p> --}}
    <form class="form-inline mt-2 mt-md-0" id="etsy-search">
      <input id="etsy-terms" class="form-control mr-sm-2" type="text" placeholder="What are you wishing for today?"
        aria-label="What are you wishing for today?"><br>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <div class="content">
    <div class="container">
      <p id="auth-message">You must sign up or log in to save items to your wishlist</p>
      <div id="etsy-images" class="row"></div>
      <div class="row">
        {{#each wishes}}
        <!-- make this a for loop in handlebars -->
        {{> wishes/wishes-block}}
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{!-- Login modal --}}
<div class="modal fade modal-center" id="login-modal" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="login-modal-lable">Login</h5>
        <button type="button" class="close" data-dismiss="login-modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="login">
          <div class="form-group">
            <label for="login-email-input">Email address</label>
            <input class="form-control form-control-lg" type="email" placeholder="email" id="login-email-input">
          </div>
          <div class="form-group">
            <label for="login-password-input">Password</label>
            <input class="form-control form-control-lg" type="password" placeholder="password" id="login-password-input">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="login-button">Login</button>
      </div>
    </div>
  </div>
</div>

{{!-- Sign up Modal --}}
{{!-- <div class="modal fade modal-center" id="signup-modal" role="dialog" aria-labelledby="signup-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enter credentials</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="signup">
          <div class="form-group">
            <label for="signup-email-input">Email address</label>
            <input type="email" class="form-control" id="signup-email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="signup-password-input">Password</label>
            <input type="password" class="form-control" id="signup-password-input" placeholder="Password">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default" id="signup-button">Sign Up</button>
      </div>
    </div>
  </div>
</div> --}}

<footer class="footer">
  <p>&copy; WishWidget 2018</p>
  <nav>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#">Social</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Github</a>
      </li>
    </ul>
  </nav>
</footer>

{{!-- Scripts needed for the non-authenticated user --}}
<script src="js/login.js"></script>
<script src="js/signup.js"></script>
<script src="js/non-authenticated.js"></script>